<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 命名空间必须是唯一的-->
<mapper namespace="com.qfedu.dao.TradeDao">

<!--    <select id="findAll" parameterType="int" resultType="com.qfedu.vo.VTradeInfo">-->
<!--        select createTime,-->
<!--        case when money > 0 then money end      pay,-->
<!--        case when money &lt; 0 then abs(money) end incomoe,-->
<!--        balance,-->
<!--        `comment`,-->
<!--        consumType-->
<!--        from t_trade-->
<!--        where uid =#{uid} or otherUid =#{uid}-->
<!--    </select>-->

    <select id="findAll" resultType="com.qfedu.vo.VTradeInfo">
        select createTime,
        case when money > 0 then money end      pay,
        case when money &lt; 0 then abs(money) end incomoe,
        balance,
        `comment`,
        consumType
        from t_trade
    </select>

</mapper>