<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 命名空间必须是唯一的-->
<mapper namespace="com.qfedu.dao.UserDao">

    <select id="findByCode" parameterType="string" resultType="user">
        select * from  t_user
        where bankCode =#{bankCode}
    </select>
    <delete id="update" parameterType="user">
        update t_user
        <set>
            <if test="bankCode !=null ">
                bankCode = #{bankCode},
            </if>

            <if test="password !=null ">
                password = #{password},
            </if>

            <if test="balance !=null ">
                balance = #{balance},
            </if>
            <if test="status !=null ">
                status = #{status},
            </if>

            <if test="imagePath !=null ">
                imagePath = #{imagePath}
            </if>
        </set>
        where id=#{id}
    </delete>
</mapper>